
html{
    position: relative;
    min-height: 100%;
}
.container {
    width: 940px;
    margin: auto;
}
.screen1 {
    background-image: url("../image/bg/bgscreen1.jpg");
    width: 1100px;
    height: 650px;
}
.screen1_item {
    color: #ffffff;

}
.screen1_title1 {
    color: 
}
.screen1_title2 {
    color: #ffffff;
}
